/*CSS Variables */

* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	padding: 0;
	margin: 0;
}

body {
		line-height: 1.8em;
		font-size: 16px;
}

footer {
	text-align: center;
}

h1,
h2 {
	text-align: center;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	padding-bottom: 40px;
}


/* Responsive flexbox navigation */

nav ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	padding-top: 1em;
	width: 90%;
	max-width: 1200px; /* stop responsive on large screens */
	margin: auto; /* center on large screens */
}

nav li {
	padding: 2em;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #00BCD4;
}

@media (max-width: 870px) {

	nav .ul {
		flex-direction: column;
		justify-content: center;
	}

	nav li {
		padding: 10px;
		text-align: center;
	}

}

/* Wrapper page grid  */

  .wrapper {
    width: 90%;
		max-width: 1100px; /* stop responsive on large screens */
		margin: auto; /* center on large screens */
  }

 .wrapper > * {
    grid-column: 2;
    min-width: 0;
  }

	main {
	  display: grid;
	}

  section {
  justify-self: center;
	}

	.section {
		padding-bottom: 120px;
	}

	/* padding sections */
	#about,
	#projects,
	#reviews,
	#sign-up{
		padding-top: 80px;
	}

/* About section */

.about-section {
  margin-bottom: 40px;
}

.about-section > * {
  text-align: left;
}

.flexbox {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 40px;
}

#headertext {
	text-align: center;
	padding-bottom: 40px;
}

.aboud-section-h3 {
	padding-bottom: 30px;
	display: inline-block;
	padding-left: 20px;
}

.icon-color {
	color: #00BCD4;
}

@media (min-width: 1000px) {

.flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

  .about-section {
    width: 30%;
    padding: 10px;
  }
}

/* Desktop and mobile menu */

/* hide mobile menu button and mobile navigation menu on big screens */

@media (min-width: 874px) {
	#button {
		display: none;
	}

	#mobile-nav {
		display:none;
	}

/* fixed menu styling for large screens */

	#fixed-desktop {
		margin-top: -20px;
		padding-bottom: : -20px;
		height: 100px;
	}

}

/* hide desktop navigation menu on small screens */

@media (max-width: 874px) {

	#desktop-nav {
		display:none;
	}

	/*  Fixed menu on mobile */

	#fixed-mobile {
		padding-top: 10px;
	}

/* style mobile menu icon  */

	#button {
		width: 20px;
		padding: 5px;
	}

}

/* fixed header for mobile and desktop */

.fixed {
	position: fixed;
	top: 0px;
	background: white;
	width: 100%;
	z-index: 1;
}

/* Responsive grid for latest projects section */

.flipcard-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 30px;
}

.flipcard-wrapper > * {
	justify-content: center;
}

.photo {
	height: 200px;
  width: 100%;
  object-fit: cover;
}

/* small screen sizes */

@media (max-width: 400px) {

.flipcard-wrapper {
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.wrapper {
	grid-template-columns: 10px 1fr 10px;
}

}

/* parallax effect */

.parallax {
    background-image: url("img/header-with-logo.svg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {

	.header-img {
		background-image: url("img/header-with-logo.svg");
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.parallax {
		display: none;
	}

}
/* hover effect */

.container {
    position: relative;
    width: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text a {
	background-color: #00BCD4;
	color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 3px;
}


	/* Button styling */

	.button {
		width: 50%;
		margin: 60px 25% 0px 25%;
		background-color: white;
		border: solid 2px #00BCD4;
		padding: 15px;
		border-radius: 3px;
		font-size: 16px;
		color:#00BCD4;
		text-decoration: none;
	}

	.button:hover {
		background-color: #00BCD4;
		color: white;
	}

		@media (min-width: 800px) {
			.button {
				width: 20%;
				margin: 60px 40% 0px 40%;
			}
		}


/* contact form */

input {
	border: none;
  background-color: WhiteSmoke;
	padding: 15px;
	margin-bottom: 10px;
	width: 445px;
}

select {
background: #fff;
border: none;
text-align: left;
padding: 15px;
width: 445px;
}

.sign-up {
	width: 33%;
	margin-left: 33%;
}



/* ------ PROJECT PAGE STYLING ------  */

.back-icon {
	padding: 20px;
	margin: 5px 0px 20px 10px;
}

/* filter function for project page */

input[type="radio"] {
    display:none;
}

input[type="radio"][id="V1"]:checked ~ .V2,
input[type="radio"][id="V1"]:checked ~ .V3 {
	display:none
}

input[type="radio"][id="V2"]:checked ~ .V1,
input[type="radio"][id="V2"]:checked ~ .V3 {
	display:none
}

input[type="radio"][id="V3"]:checked ~ .V1,
input[type="radio"][id="V3"]:checked ~ .V2 {
	display:none
}

/* color active link project page */

input[type="radio"]:checked + label {
		color: #00BCD4;
}

input[type="radio"]:hover + label {
		color: #00BCD4;
}

/* flexbox project page with media queries */

/* 1 column layout for mobile */

label {
	margin: 1.5em;
}

.tile {
	margin: 10px;
}

/* 2 column layout  */

@media (min-width: 715px) {

	label {
		width: 20%;
		margin: auto;
		text-align: center;
	}

	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	.tile {
		flex: 45%;
	}

}

/* 3 column layout */

@media (min-width: 1070px) {

	label {
		width: 20%;
	}

	.tile {
		flex: 25%;
	}

}
